#game {
	position: relative;
	inset: 0;
	margin: 10px;
	padding: 10px;
	border: 900px solid blue;
	background-color: blue;
	height: 500px
}

#player {
	position: absolute;
	width: 10px;
	height: 10px;
	background-color: lightgreen;
	left: calc(50% - 5px);
	top: calc(50% - 5px);
}